.form-input{
    display: flex;
    flex-direction: column;
    width: 480px;
}

input{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    border: 2px solid rgb(15, 15, 15);
}

label{
    font-size: 12px;
    color: rgb(19, 18, 18);
    font-weight: bold;
}

span{
    font-size: 15px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focus="true"] {
    border: 2px solid red;
}

input:invalid[focus="true"] ~ span {
    display: block;
}